---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import "@assets/vdoing/styles/index.styl";
import Header from "./Header.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
<div class:list={['theme-container']} >
  <Header client:load/>

  <div class="main">
    <slot />
  </div>

  <h1>footer</h1>
</div>
</body>
</html>